<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
</head>
<body>
    <h1>Выберите автора</h1>
    <u1>
       {% for author in object_list %} 
           <li><a href="{% url 'manuals:author' author.pk %}">{{ author }}</a>
            || <a href="{% url 'manuals:author-update' author.pk %}">Update</a>
            || <a href="{% url 'manuals:author-delete' author.pk %}">Delete</a>
        </li>
       {% endfor %}
    </u1>
    <br>
    <a href="{% url 'manuals:author-create' %}">Добавить автора</a>
    <br>
    <a href="{% url 'manuals:manuals-home' %}">К списку справочников</a>
</body>
</html>