{% extends 'base_in.html' %}
{% load crispy_forms_tags %}
{% block title %}Create Author{% endblock title %}

{% block body %}
<br>
    <h2>Добавить/изменить автора</h2>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-success btn-sm">Принять</button>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'manuals:authors-list' %}" role="button">К списку авторов</a>
    </form>

{% endblock body %}