{% extends 'base_in.html' %}
{% block title %}Authors{% endblock title %}

{% block body %}
    <br>
    <h1>Авторы</h1>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия И.О.</th>
            <th scope="col">Изменение</th>
            <th scope="col">Удаление</th>
          </tr>
        </thead>
        <tbody>
        {% for author in object_list %}
            <tr>
                <th scope="row">{{ author.pk }}</th>
                <td><a href="{% url 'manuals:author' author.pk %}">{{ author }}</a></td>
                <td><a class="btn btn-outline-warning btn-sm" href="{% url 'manuals:author-update' author.pk %}" role="button">Изменить</a></td>
                <td><a class="btn btn-outline-danger btn-sm" href="{% url 'manuals:author-delete' author.pk %}" role="button">Удалить</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'manuals:manuals-home' %}" role="button">К списку справочников</a>
    <a class="btn btn-success btn-sm" href="{% url 'manuals:author-create' %}" role="button">Добавить автора</a>


{% endblock body %}