{% extends 'base_in.html' %}
{% block title %}Author{% endblock title %}

{% block body %}
    <br>
    <h2>Карточка автора</h2>
    <br>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">{{ object.name }}</h4>
              <p class="card-text"><small class="text-muted">ID: {{ object.pk }}</small></p>
              <p class="card-text">{{ object.desription }}</p>
              <p class="card-text">
                <a class="btn btn-outline-warning btn-sm" href="{% url 'manuals:author-update' object.pk %}" role="button">Изменить</a>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'manuals:author-delete' object.pk %}" role="button">Удалить</a>
              </p>
            </div>
          </div>
        </div>
      </div>


    <br>
    <a class="btn btn-outline-primary btn-sm" href="{% url 'manuals:authors-list' %}" role="button">К списку авторов</a>
{% endblock body %}