{% extends 'base_in.html' %}
{% block title %}BookSeries{% endblock title %}

{% block body %}
    <h1>Выберите книжную серию</h1>
    <u1>
        {% for object in object_list %} 
            <li><a href="{% url 'manuals:bookseries' object.pk %}">{{ object }}</a>
             || <a href="{% url 'manuals:bookseries-update' object.pk %}">Update</a>
             || <a href="{% url 'manuals:bookseries-delete' object.pk %}">Delete</a>
         </li>
        {% endfor %}
     </u1>
     <br>
     <a href="{% url 'manuals:bookseries-create' %}">Добавить книжную серию</a>
     <br>
     <a href="{% url 'manuals:manuals-home' %}">К списку справочников</a>
{% endblock body %}