{% extends 'base_out.html' %}
{% block title %}BookGenres{% endblock title %}

{% block body %}
    <br>
    <h1>Книжные жанры</h1>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Название жанра</th>
            {% if perms.dictionaries.change_bookgenre %}
            <th scope="col">Изменение</th>
            {% endif %}
            {% if perms.dictionaries.delete_bookgenre %}
            <th scope="col">Удаление</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for object in page_obj %}
            <tr>
                <th scope="row">{{ object.pk }}</th>
                <td><a href="{% url 'manuals:bookgenre' object.pk %}">{{ object }}</a></td>
                {% if perms.dictionaries.change_bookgenre %}
                <td><a class="btn btn-outline-primary btn-sm" href="{% url 'manuals:bookgenre-update' object.pk %}" role="button">Изменить</a></td>
                {% endif %}
                {% if perms.dictionaries.delete_bookgenre %}
                <td><a class="btn btn-outline-primary btn-sm" href="{% url 'manuals:bookgenre-delete' object.pk %}" role="button">Удалить</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% include "paginator.html" %}
    <br>
    <a class="btn btn-outline-secondary" href="{% url 'manuals:manuals-home' %}" role="button">К списку справочников</a>
    {% if perms.dictionaries.add_bookgenre %}
    <a class="btn btn-secondary" href="{% url 'manuals:bookgenre-create' %}" role="button">Добавить книжный жанр</a>
    {% endif %}

{% endblock body %}