{% extends 'base_in.html' %}
{% block title %}BookGenres{% endblock title %}

{% block body %}
    <h1>Выберите жанр</h1>
    <u1>
        {% for object in object_list %} 
            <li><a href="{% url 'manuals:bookgenre' object.pk %}">{{ object }}</a>
             || <a href="{% url 'manuals:bookgenre-update' object.pk %}">Update</a>
             || <a href="{% url 'manuals:bookgenre-delete' object.pk %}">Delete</a>
         </li>
        {% endfor %}
     </u1>
     <br>
     <a href="{% url 'manuals:bookgenre-create' %}">Добавить книжный жанр</a>
     <br>
     <a href="{% url 'manuals:manuals-home' %}">К списку справочников</a>
{% endblock body %}