{% extends 'base_out.html' %}
{% load crispy_forms_tags %}
{% block title %}Create BookGenre{% endblock title %}

{% block body %}
<br>
    <h2>Добавить/изменить книжный жанр</h2>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-success">Принять</button>
        <a class="btn btn-outline-primary" href="{% url 'manuals:bookgenres-list' %}" role="button">К списку книжных жанров</a>
    </form>

{% endblock body %}