{% extends 'base_out.html' %}
{% load crispy_forms_tags %}
{% block title %}Create BookSerie{% endblock title %}

{% block body %}
<br>
    <h2>Добавить/изменить книжную серию</h2>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-success">Принять</button>
        <a class="btn btn-outline-primary" href="{% url 'manuals:bookseries-list' %}" role="button">К списку книжных серий</a>
    </form>

{% endblock body %}