{% extends 'base_in.html' %}
{% block title %}Delete BookGenre{% endblock title %}

{% block body %}
<br>
<h2>Удаление книжного жанра</h2>
<br>
<div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
    <div>
    <h4>Вы действительно хотите удалить книжный жанр "{{ object.name }}"?</h4>
      Нажимая кнопку "Да" вы подтверждаете безвозвратное удаление записи о книжном жанре
    <br>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-sm">Да</button>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'manuals:bookgenre' object.pk %}" role="button">Посмотреть карточку книжного жанра</a>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'manuals:bookgenres-list' %}" role="button">К списку книжных жанров</a>
    </form>
    </div>
  </div>
   
<script>
    
</script>
{% endblock body %}