<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manuals</title>
</head>
<body>
    <h1>Справочники</h1>
    <u1>
        <li><a href="{% url 'manuals:authors-list' %}">Авторы</a> </li>
        <li><a href="{% url 'manuals:bookseries-list' %}">Книжные серии</a> </li>
        <li><a href="{% url 'manuals:bookgenres-list' %}">Жанры</a> </li>
        <li><a href="{% url 'manuals:publishers-list' %}">Издательства</a> </li>
    </u1>
    <br>
    <a href="{% url 'home' %}">На главную</a>
</body>
</html>