{% extends 'base_in.html' %}
{% block title %}Manuals{% endblock title %}

{% block body %}
<br>
    <h1>Справочники</h1>
    <br>
    <u1>
        <li><a href="{% url 'manuals:authors-list' %}">Авторы</a> </li>
        <li><a href="{% url 'manuals:bookseries-list' %}">Книжные серии</a> </li>
        <li><a href="{% url 'manuals:bookgenres-list' %}">Жанры</a> </li>
        <li><a href="{% url 'manuals:publishers-list' %}">Издательства</a> </li>
    </u1>
    <br>
    <a href="{% url 'home' %}">На главную</a>
{% endblock body %}