{% extends 'base_out.html' %}
{% block title %}Publisher{% endblock title %}

{% block body %}
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ object.picture.url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">{{ object.name }}</h1>
            <p class="card-text"><small class="text-muted">ID: {{ object.pk }}</small></p>
            <p class="lead">{{ object.desription }}</p>
            <br>
            {% if perms.dictionaries.change_publusher %}
            <a class="btn btn-outline-primary" href="{% url 'manuals:publisher-update' object.pk %}" role="button">Изменить</a>
            {% endif %}
            {% if perms.dictionaries.delete_publusher %}
            <a class="btn btn-outline-danger" href="{% url 'manuals:publisher-delete' object.pk %}" role="button">Удалить</a>
            <br>
            {% endif %}
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a class="btn btn-secondary" href="{% url 'manuals:publishers-list' %}" role="button">К списку издательств</a>
              <form action="{% url 'books:book-list' %}" method="get">
                <input type="hidden" name="publusher_pk" value="{{ object.pk }}">
                <button type="submit" class="btn btn-outline-secondary">Все книги издательства</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    
{% endblock body %}