{% extends 'base_in.html' %}
{% block title %}Publishers{% endblock title %}

{% block body %}
    <h1>Выберите издательство</h1>
    <u1>
        {% for object in object_list %} 
            <li><a href="{% url 'manuals:publisher' object.pk %}">{{ object }}</a>
             || <a href="{% url 'manuals:publisher-update' object.pk %}">Update</a>
             || <a href="{% url 'manuals:publisher-delete' object.pk %}">Delete</a>
         </li>
        {% endfor %}
     </u1>
     <br>
     <a href="{% url 'manuals:publisher-create' %}">Добавить издательство</a>
     <br>
     <a href="{% url 'manuals:manuals-home' %}">К списку справочников</a>
{% endblock body %}