{% extends 'base_in.html' %}
{% load crispy_forms_tags %}
{% block title %}Create Publisher{% endblock title %}

{% block body %}
<br>
    <h2>Добавить/изменить издательство</h2>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-success">Принять</button>
        <a class="btn btn-outline-primary" href="{% url 'manuals:publishers-list' %}" role="button">К списку издательств</a>
    </form>

{% endblock body %}