<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of codes of airports</h1>
    <p><a href="/ABV">ABV</a></p>
    <p><a href="/ARL">ARL</a></p>
    <p><a href="/BEG">BEG</a></p>
    <p><a href="/BHC">BHC</a></p>
    <p><a href="/CKH">CKH</a></p>
    <p><a href="/DCA">DCA</a></p>
    <p><a href="/ERZ">ERZ</a></p>
    <p><a href="/FBM">FBM</a></p>
    <p><a href="/FRF">FRF</a></p>
    <p><a href="/GOA">GOA</a></p>
    <p><a href="/HAM">HAM</a></p>
    <p><a href="/HND">HND</a></p>
    <p><a href="/IKT">IKT</a></p>
    <p><a href="/KIV">KIV</a></p>
    <p><a href="/MSQ">MSQ</a></p>
    <p><a href="/RWN">RWN</a></p>
    <p><a href="/VSG">VSG</a></p>

</body>
</html>