<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookSerie</title>
</head>
<body>
    <h1>Книжная серия</h1>
    <b>ID:</b> {{ bookserie.pk }} <br>
    <b>Название:</b> {{ bookserie.name }} <br>
    <b>Информация о серии:</b> {{ bookserie.desription }} <br>
    <br>
    <a href="{% url 'bookseries-list' %}">К списку книжных серий</a>
</body>
</html>