{% extends 'base_out.html' %}

{% block title %}Books{% endblock title %}

{% block body %}
    <br>
    <h1>Книги</h1>
    <br>

   <!-- card-columns -->
   <div class="container">
    <div class="row align-items-start">
      <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?filter=all">Все</a></li>
        <li class="page-item"><a class="page-link" href="?filter=name">По названию</a></li>
        <li class="page-item"><a class="page-link" href="?filter=rating">По рейтингу</a></li>
        <li class="page-item">
      </ul>
      </nav>

        {% for book in page_obj %}
        <div class="card" style="width: 18rem;">
          <img src="{{ book.picture.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ book.name }}</h5>
            <p class="card-text">
              <b>Автор:</b> {% for author in book.author.all %}
                 {{ author.name }}
                {% endfor %}
              <br>
              <b>Год издания:</b> {{ book.year }}<br>
              <b>Жанр:</b> {% for genre in book.genre.all %}
               {{ genre.name }}
               {% endfor %}<br>
              <b>Издательство:</b> {{ book.publusher }}<br>
              <b>Цена:</b> <h3>{{ book.unit_price }} BYN</h3>
          </p>
          {% if book.active %}
            <a href="{% url 'carts:cart-edit' %}?book_id={{ book.pk }}" class="btn btn-secondary">В корзину</a>
          {% else %}
            <a class="btn btn-light">Недоступен</a>
          {% endif %}
            <a href="{% url 'books:book' book.pk %}" class="btn btn-outline-secondary">Подробнее</a>
          </div>
        </div>
        {% endfor %}
      
      </div>
    </div>

    {% include "paginator.html" %}


    <br>
    {% if perms.books.add_book %}
    <a class="btn btn-success" href="{% url 'books:book-create' %}" role="button">Добавить книгу</a>
    {% endif %}
    
{% endblock body %}