{% extends 'base_out.html' %}
{% load template_tags %}
{% block title %}Order{% endblock title %}

{% block body %}
      <div class="container col-xxl-8 px-4 py-5">
        
          <div class="col-lg-15">
            <h1 class="display-5 fw-bold lh-1 mb-3">Заказ №{{ object.pk }}</h1>
            <h3>Статус: {{ object.status }}</h3>
            
            <p class="lead">
             
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">№</th>
                    <th scope="col">Книга</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Стоимость (BYN)</th>
            
                  </tr>
                </thead>
                <tbody>
                {% for good_in_order in object.cart.goods.all %}    
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td> {%for author in good_in_order.book.author.all %}
                            {{ author.name }}
                        {% endfor %}
                        <b><a href="{% url 'books:book' good_in_order.book.pk %}">"{{ good_in_order.book.name }}"</a></b>
                    </td>
                    <td>{{ good_in_order.quantity }}</td>
                    <td>{{ good_in_order.total_price }}</td>
            
                  </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"><h4>Общая стоимость заказа:</h4></td>
                    <td><h4>{{ object.cart.total_price }} BYN</h4></td>
                </tr>
                </table>
              <b>Имя:</b> {{ object.customer_name }}<br>
              <b>Контактный телефон:</b> {{ object.customer_phone }}<br>
              <b>Адрес доставки:</b> {{ object.contact_info }}<br>
              <b>Адрес доставки:</b> {{ object.contact_info }}<br>
              <br>
              <b>Ваш менеджер:</b> {{ object.manager.first_name }} {{ object.manager.last_name }}, {{ object.manager.profile.phone }}<br>
              <br>
              <p class="card-text"><small class="text-muted">
              <b>Дата создания:</b> {{ object.created }}<br>
              <b>Дата изменения:</b> {{ object.updated }}
              </small></p>
  
              <br>
              {% if perms.orders.change_order %}
              <a class="btn btn-outline-primary" href="{% url 'orders:order-update' object.pk %}" role="button">Изменить</a>
              {% endif %}

            </p>
             <div class="d-grid gap-2 d-md-flex justify-content-md-start">
               <a class="btn btn-outline-primary" href="{% url 'orders:orders-list' %}" role="button">К списку заказов</a>
            </div>
          </div>
        </div>
      </div>
      {% show_comments %}
{% endblock body %}