{% extends 'base_out.html' %}
{% block title %}Orders{% endblock title %}

{% block body %}
<br>
<h1 class="display-5 fw-bold lh-1 mb-3">Заказы ({{ paginator.count }})</h1>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Номер заказа</th>
        {% if perms.orders.change_order %}
        <th scope="col">Пользователь</th>
        {% endif %}
        <th scope="col">Стоимость (BYN)</th>
        <th scope="col">Статус</th>
        <th scope="col">Дата создания</th>
        {% if perms.orders.change_order %}
        <th scope="col">Дата изменения</th>
        {% endif %}
        {% if perms.orders.change_order %}
        <th scope="col">Редактирование</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
    {% for order in page_obj %}
        <tr>
            <td><a href="{% url 'orders:order' order.pk %}">Заказ №{{ order.pk }}</a> </td>
            {% if perms.orders.change_order %}
            <td>{{ order.customer_name }}
            </td>
            {% endif %}
            <td>{{ order.cart.total_price }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.created }}</td>
            {% if perms.orders.change_order %}
            <td>{{ order.updated }}</td>
            {% endif %}
            {% if perms.orders.change_order %}
            <td><a class="btn btn-outline-primary btn-sm" href="{% url 'orders:order-update' order.pk %}" role="button">Изменить</a></td>
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
{% include "paginator.html" %}
<br>
<a class="btn btn-outline-primary" href="{% url 'home' %}" role="button">На главную</a>
    <br>


{% endblock body %}