{% extends 'base_out.html' %}
{% load crispy_forms_tags %}
{% block title %}Update Order{% endblock title %}

{% block body %}
<br>
<div class="container col-xxl-8 px-4 py-5">
    <div class="col-lg-15">
    <h2>Редактировать заказ №{{object.pk}}</h2>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-success">Принять</button>
        <a class="btn btn-outline-primary" href="{% url 'orders:orders-list' %}" role="button">К списку заказов</a>
    </form>
</div>
</div>
{% endblock body %}