{% extends 'base_out.html' %}

{% block title %}Поиск{% endblock title %}

{% block body %}
<br>
<h1 class="display-5 fw-bold lh-1 mb-3">Результаты поиска</h1>
<br>

{% if object_lists %}
<p class="h3  lh-1 mb-5">По запросу "{{ question }}" найдено следующее:</p>
    {% for object in object_lists %}

    <div class="card">
      <div class="card-header">
        
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ forloop.counter }}.  {{ object.name }}</h5>
        <p class="card-text">  
          {%for author in object.author.all %}
          {{ author.name }}
      {% endfor %} Рейтинг: {{ object.rating }}  Количество заказов:  {{ object.num_orders }}  Раздел сайта: {{ object.to_class_name }}</p>
        <a href="{{ object.get_absolute_url }}" class="btn btn-primary">Перейти</a>
      </div>
    </div>
<br>
    {% endfor %}
    {% include "paginator.html" %}
{% else %}
    <p>Не найдено публикаций по вашему запросу<br>Попробуйте повторить запрос с другой формулировкой</p>
{% endif %}
    
{% endblock body %}